@model List<TicketApp.Domain.DomainModels.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-3">
        <a class="btn btn-success" asp-controller="Tickets" asp-action="Create">Add new ticket!</a>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        if (i % 3 == 0)
        {
            @:<div class="row">
        }

        <div class="col-md-3 m-4">
            <div class="card" style="width: 18rem; height: 50rem;">
                <img class="card-img-top" src="@item.TicketImage" alt="Image for ticket!" style="height: 55%"/>

                <div class="card-body">
                    <h5 class="card-title">@item.TicketName</h5>
                    <p class="card-text">@item.TicketDescription</p>
                    <p class="card-text">Genre: @item.TicketGenre</p>
                    <h6>Date: @item.TicketDate</h6>
                    <h6>Price: @item.TicketPrice</h6>
                </div>

                <div class="card-footer">
                    <a asp-controller="Tickets" asp-action="AddTicketToCart" asp-route-id="@item.Id" class="btn btn-info">Add To Cart</a>
                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                </div>
            </div>
        </div>

        if (i % 3 == 2)
        {
            @:</div>
        }

    }
</div>